/*  About Section
/* ------------------------------------------------------------------ */

#about {
    background: #000524;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
 }
 
 #about a, #about a:visited  { color: #fff; }
 #about a:hover, #about a:focus { color: #0762f9; }
 
 #about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
    display: block;
    /* text-align: center; */
    margin-inline-start: 400px;
 }
 #about p {
    line-height: 30px;
    color: #ccc;
    display: flex;
    margin-block-start: 0.83em;
    margin-block-end: 2em;
    margin-inline-start: 400px;
    margin-inline-end: 100px;
    box-sizing: border-box;
    text-align: justify;
 }
 #about .profile-pic {
    float: left;
    /*position: relative;*/
    width: 150px;
    height: 250px;
    border-radius: 100%;
 }
 /* #about .contact-details { width: 41.66667%; } */

 #about .address {
   line-height: 30px;
   color: #ccc;
   display: inline-block;
   margin-block-start: 0.83em;
   margin-block-end: 2em;
   margin-inline-start: 400px;
   margin-inline-end: 100px;
   box-sizing: border-box;
 }
 #about .download {
    width: 58.33333%;
    padding-top: 6px;
 }
 #about .main-col { padding-left: 2%;
display: inline; }
 #about .download .button {
    margin-top: 6px;
    background: #444;
 }
 #about .download .button:hover {
    background: #fff;
    color: #2B2B2B;
 }
 #about .download .button i {
    margin-right: 15px;
    font-size: 20px;
 }
 
 
 